.CategoryName{
  padding: 17px;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  color: #c8c20e;
  
}
.CategoryName span{
  border-radius: 5px;
  border-bottom: 2px solid rgb(221, 224, 16);
}
/* .CategoryMain{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */
