@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
.layout {
  background: linear-gradient(0.77turn, #1c5755, #1565c0, #eef290);
  width: 100%;
  height: calc(100vh - 116.5px);
  position: relative;
}
.log-box {
  width: 550px;
  background-color: #251c57;
  margin: auto;
  padding: 12px;
  border-radius: 16px;
  position: relative;
  top: 50%;
  box-shadow: 0 0 6px 3px rgb(167 167 16);
  text-align: center;
  color: #998733;
  transform: translateY(-50%);
}
h3 {
  font-weight: 800;
  margin-bottom: 40px;
  font-size: 30px;
}
h3 + p {
  margin-bottom: 20px;
  color: #10e4e4;
}
Button.btn,
input {
  background-color: transparent;
  outline: 0;
  border: 1px solid cornsilk;
  width: calc(100% - 16px);
  padding: 10px;
  caret-color: cornsilk;
  border-radius: 20px;
  margin: 5px 0 15px;
  color: coral;
}

label p {
  text-align: initial;
  font-weight: 700;
  margin-left: 5px;
}
.social {
  margin: 20px;
}
.social p {
  margin: 11px;
  font-size: 22px;
  font-family: "Cookie", cursive;
}
.forget {
  margin: 30px;
}
.link {
  text-decoration: none;
  color: rgb(45 128 168);
  font-weight: 800;
}
Button.btn {
  background-color: rgb(45 128 168);
  font-size: 13px;
  font-weight: 900;
  color: #eef290;
  cursor: pointer;
}
input:hover,
button.btn:hover {
  box-shadow: 0 0 10px 1px #edff66;
}
input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}
input[type="checkbox"] + label {
  font-size: 13px;
}
