@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  font-family: Comfortaa;
  margin: 0;
}
.material-symbols-outlined {
  display: block;
  font-variation-settings: "FILL" 10, "wght" 800, "GRAD" 0, "opsz" 48;
  color: #251c57;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1px;
}
.header {
  padding: 20px;
  background-color: #efef18;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:10px;
}
.logo {
  display: block;
  display: flex;
  padding-top: 1.5px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #251c57;
}
.name {
  font-weight: 800;
}
.css-wn7ry-MuiButtonBase-root-MuiButton-root:hover {
  box-shadow: "none";
  background-color: "#1CD6CE";
  color: "#251c57";
}
.loginLink{
  text-decoration: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

